/* not resizeable menu */

.navbar-custom {
	/* no resizing menu */
	padding: 10px 0 !important;
}

/* move avatar below menu */

.navbar-custom .avatar-container {
	/* move avatar below menu */
	margin-top: 30px;
	/* same with wide screen and tiny screen */
	width: 100px !important;
}


/* avatar tweaks */

.avatar-img {
  background-color: #cccccc;
  padding: 5px;
}

/* move page down because avatar was moved down */

.intro-header {
	margin-top: 200px;
}

/* css hack to mark external link, except on footer and #quiet ones */

a::after {
	background-position: right center;
	background-repeat: no-repeat;
	content: "🗗";
	font-size: 6pt;
	vertical-align: super;
}

/* hack: use a space instead of `unset` to keep consistent vertical alignement */
.navbar-right a:not([href])::after,
.navbar-right a[href=""]::after,
.navbar-right a[href^="#"]::after,
.navbar-right a[href^="/"]::after,
.navbar-right a[href="https://netradiant.gitlab.io"]::after,
.navbar-right a[href^="https://netradiant.gitlab.io/"]::after,
.navbar-right a[href^="https://netradiant.gitlab.io:"]::after,
.navbar-right a[href="http://localhost"]::after,
.navbar-right a[href^="http://localhost/"]::after,
.navbar-right a[href^="http://localhost:"]::after,
.navbar-right a[href$='#quiet']::after {
	content: " ";
}

a:not([href])::after,
a[href=""]::after,
a[href^="#"]::after,
a[href^="/"]::after,
a[href="https://netradiant.gitlab.io"]::after,
a[href^="https://netradiant.gitlab.io/"]::after,
a[href^="https://netradiant.gitlab.io:"]::after,
a[href="http://localhost"]::after,
a[href^="http://localhost/"]::after,
a[href^="http://localhost:"]::after,
a[href$='#quiet']::after {
	content: unset;
}

footer .credits a::after {
	content: unset;
}

/* signature meta information */

.blog-post .post-meta {
  color: #808080;
  font-size: 18px;
  font-style: italic;
  text-align: right;
}
.blog-post .post-meta a {
  color: #404040;
}

/* make some meny entries larger, also displace them a bit on tiny screen */

#menu-download,
#menu-play {
  padding-left: 2em !important;
  padding-right: 2em !important;
}

/* color some menu entries */

#menu-download {
  background-color: #42d071;
}

#menu-download:hover {
  background-color: #3c9e5c;
  color: white;
}

#menu-play,
#menu-xonotic,
#menu-unvanquished {
  background-color: #a2a7ff;
}

#menu-play:hover,
#menu-xonotic:hover,
#menu-unvanquished:hover {
  background-color: #6e76ff;
  color: white;
}

/* link in previews are bold */

.post-preview .post-entry a {
	font-weight: bold;
}

/* css hacks for image placement */

/* also the default */
img[src$='#center'] {
	display: block;
	margin: auto;
	max-width: 100%;
}

img[src$='#large'] {
	display: block;
	margin: 0;
	width: 100%;
}

img[src$='#inline'] {
	display: inline-block;
}

img[src$='#left'] {
	display: block;
	margin-right: 1em;
	float: left;
}

img[src$='#right'] {
	display: block;
	margin-left: 1em;
	float: right;
}
