{{ $withMetaAuthor := ( .Scratch.Get "withMetaAuthor" ) }}
<span class="post-meta">
{{ if .Params.date }}
  {{ $lastmodstr := default (i18n "dateFormat") .Site.Params.dateformat | .Lastmod.Format }}
  {{ $datestr := default (i18n "dateFormat") .Site.Params.dateformat | .Date.Format }}
  <i class="fas fa-calendar"></i>&nbsp;{{ $datestr | i18n "postedOnDate"}}
  {{ if ne $datestr $lastmodstr }}
    &nbsp;{{ $lastmodstr | i18n "lastModified"  }}
  {{ end }}
{{ end }}
  {{ if .Site.Params.readingTime }}
    &nbsp;|&nbsp;<i class="fas fa-clock"></i>&nbsp;{{ i18n "readingTime"}}{{ .ReadingTime }}&nbsp;{{ i18n "readTime" }}
  {{ end }}
  {{ if .Site.Params.wordCount }}
    &nbsp;|&nbsp;<i class="fas fa-book"></i>&nbsp;{{ .WordCount }}&nbsp;{{ i18n "words" }}
  {{ end }}
{{- if ( eq $withMetaAuthor "true" ) }}
  {{ if not .Site.Params.hideAuthor }}
    {{ if .Params.authors }}
    {{ if .Params.date }}&nbsp;|&nbsp;{{ end }}
    {{ $authorList := ( .Params.authors ) }}
    {{ $authorCount := ( len $authorList ) }}
    {{- range $index, $element := $authorList }}
      {{- with $.Site.GetPage "taxonomyTerm" (printf "author/%s" (urlize .)) }}
        <i class="fas fa-user"></i>&nbsp;<a href="{{ .Permalink }}">{{ .Params.title }}</a>{{ if eq (add $index 1) $authorCount }}.{{ else }},{{ end }}
      {{ end }}
    {{ end }}
    {{ else }}
      <i class="fas fa-user"></i>&nbsp;<a href="/author/xonotic">{{ .Site.Author.name | safeHTML }}</a>
    {{ end }}
  {{ end }}
  {{- if .Site.Params.staticman -}}
    &nbsp;|&nbsp;<i class="fas fa-comment"></i>&nbsp;
    {{ $slug := replace .RelPermalink "/" "" }}
    {{ if .Site.Data.comments }}
      {{ $comments := index $.Site.Data.comments $slug }}
      {{ if $comments }}
        {{ if gt (len $comments) 1  }}
          {{ len $comments  }} {{ i18n "moreComment" }}
        {{ else }}
          {{ len $comments  }} {{ i18n "oneComment" }}
        {{ end }}
      {{ else }}
        0 {{ i18n "oneComment" }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
  {{ if .IsTranslated -}}
    {{- $sortedTranslations := sort .Translations "Site.Language.Weight" -}}
    {{- $links := apply $sortedTranslations "partial" "translation_link.html" "." -}}
    {{- $cleanLinks := apply $links "chomp" "." -}}
    {{- $linksOutput := delimit $cleanLinks (i18n "translationsSeparator") -}}
    &nbsp;&bull;&nbsp;{{ i18n "translationsLabel" }}{{ $linksOutput }}
  {{- end }}
</span>
{{ .Scratch.Delete "withMetaAuthor" }}
